
@{
    ViewData["Title"] = "RegisterSuccess";
}

<div class="row welcome">
    <div class="col-sm-12">
        <h2>Congratulations!</h2><br />

        <p>Your account has bees activated.</p>
        <p>Now you see other trainers adventures</p>
        <a asp-controller="Home" asp-action="index">
            Go to Start
        </a>
    </div>
</div>
