body {
    background-image: url("/images/LoginBackground.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: ghostwhite;
    padding-bottom: 1em;
    width: 40%;
}

h2 {
    font-family: PokemonGB;
}

.title {
    width: 100%;
}

.welcome img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
}

.welcome{
    text-align: center;
}

.welcome a {
    font-size: 3em;
    text-decoration: none;
}

/****Media screens****/
@media screen and (max-width: 1200px) {
    h2 {
        font-size: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }

    h2, h3 {
        font-size: 1em;
    }
}

/*New fonts*/
@font-face {
    font-family: PokemonGB;
    src: url('/fonts/Pokemon_GB.ttf');
}

@font-face {
    font-family: PokemonGB-unown;
    src: url('/fonts/Pokemon_Unown_GB.ttf');
}

@font-face {
    font-family: Pokemon-solid;
    src: url('/fonts/Pokemon_Solid.ttf');
}

@font-face {
    font-family: pokemon-fire-red;
    src: url('/fonts/pokemon_fire_red.ttf');
}