/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#appTitle{
    width: 40%;
}

.sideBar {
    padding-top: 10px;
    overflow-y: scroll;
}

#pokeTimeLine h2, h3{
    text-align: center;
}

#posts div{
    text-align: center;
    width: 60%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: cornflowerblue;
}

#profilePicture {
    width: 40%;
    /*height: 90%;*/
    /*max-width: 100%;*/
}

.sideBar p{
    text-align: center;
    color: black;
}

.sideBar a {
    text-decoration: none;
}

#friendRequests {
    border: none;
    width: 40%;
    cursor: pointer;
}

#RequestProfilePicture{
    width: 100px;
    border-radius: 20px;
}

#userSearch {
    margin-top: 2%;
    text-align:center;
}

#userSearch input {
    border-radius: 20px;
    border: none;
    width: 70%;
    height: 3em;
    background-image: url(../images/loop.png);
    background-position: 95%;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#userSearch input::-webkit-calendar-picker-indicator {
    display: none;
}

#userSearch input::-webkit-input-placeholder{
    padding-left: 10px;
}

#userSearch input:focus {
    outline: none;
}

a .badge, .layoutBadge {
    color: white;
    background-color: red;
}

.layoutBadge {
    display: none;
    position: relative;
    position: absolute;
    top: 5px;
    right: -13px;
    font-size: .7em;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}

@media screen and (max-width: 1000px) {
    #profilePicture ,#friendRequests {
        width: 10%;
    }
}

@media screen and (max-width: 500px) {
    #profilePicture, #friendRequests {
        position: relative;
        top: 33px;
    }
}

/*----Chat----*/
#chat h2{
    text-align:center;
}

#chat li {
    list-style-type: none;
    margin-bottom: 10px;
}

.speech-bubbles .time {
    font-size: 10px;
    font-style: italic;
}

.speech-bubbles .eersteLetter {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 55px;
    text-align: center;
    background-color: #4CAF50;
    font-size: 10px;
}

.bubble-me, .bubble-other {
    position: relative;
    border-radius: .4em;
    padding-left: 3%;
    padding-right: 3%;
    word-wrap: break-word;
    font-size: 25px;
}

.bubble-other {
    background: yellowgreen;
    text-align: left;
    margin-bottom: 10px;
    width: 70%;
}

.bubble-other p {
    display: inline-block;
}

.bubble-me {
    background: lightskyblue;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    width: 70%;
}

.bubble-me:after, .bubble-other:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 34px solid transparent;
    border-bottom: 0;
    margin-top: -17px;
}

.bubble-other:after {
    left: 0;
    border-right-color: yellowgreen;
    border-left: 0;
    margin-left: -34px;
}

.bubble-me:after {
    right: 0;
    border-left-color: lightskyblue;
    border-right: 0;
    margin-right: -34px;
}

.speechForm {
    margin-bottom: 20px;
    margin-left: 12%;
}

.speechForm textarea {
    border-radius: 20px;
    resize: vertical;
    display: inline-block;
}

.chat .relative {
    position: relative;
}

#fileLabel-messageImage {
    width: 8%;
    height: 100%;
}

#selectImage {
    width: 100%;
}

.speechForm button {
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 10%;
    width: 10%;
    /*right: 10%;*/
}

.speechForm button img {
    width: 3em;
}

.chat .form-control {
    width: 80%;
}

#chatSettings {
    cursor: pointer;
    width: 40px;
}

#loadMessagesLink {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    cursor: pointer;
    display: block;
    width: 40px;
}

.messageDiv {
    height: 100%;
    overflow-y: scroll;
}

#left {
    position: fixed;
    left: 0;
    overflow: hidden;
    padding: 2em;
}

#right {
    background-color: gray;
    position: absolute;
    left: 33%;
    overflow-y: auto;
    padding: 2em;
    padding-right: 10%;
}

#chat + hr + footer{
    display: none;
}

#usersToAdd li{
    display: inline-block;
}

#usersToAdd li:last-child {
    display: block;
}

.speech-bubbles img {
    padding: 10px;
    border-radius: 20px;
    width: 50%;
}

#divPreview-messageImage{
    border: 2px solid black;
    border-radius: 20px;
    padding: 1em;
    display: none;
}

#divPreview-messageImage p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

#divPreview-messageImage img {
    border-radius: 20px;
    width: 100%;
}

#currentChatImage{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #right {
        width: 75%;
    }
    #left {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    #fileLabel-messageImage {
        width: 20%;
    }

    .speechForm button{
        top: 60%;
    }
}

@media screen and (max-width: 600px) {
    #left {
        width: 100%;
        position: sticky;
        top: 0;
    }

    #right {
        left: unset;
        padding-right: 30%;
        padding-left: 10%;
        position: unset;
        width: 100%;
    }

    #chat .bubble-me, #chat .bubble-other {
        width: 100%;
    }

    .chat .form-control {
        width: 100%;
    }

    #fileLabel-messageImage {
        width: 20%;
    }

    .speechForm button {
        left: 100%;
        top: 47%;
        width: 27%;
    }
}

@media screen and (max-width: 380px) {
    .preview {
        width: 300px;
    }

    #chatSettings {
        position: relative;
        top: 45px;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    -ms-overflow-style: none !important;
}

/****Omslag en profiel foto****/
#omslag:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#coverPicture .inner {
    position: relative;
}

.inner h2{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#coverPicture {
    padding-bottom: 4em;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#coverPicture p {
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

h1 {
    display: inline-block;
    margin-left: 5px;
}

#profilePicture, #friendInfo img {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

#friendInfo img {
    height: 200px;
}

#coverPicture #profilePicture {
    width: 20%;
}

@media screen and (max-width: 1000px) {

    #profilePicture {
        max-height: 200px;
        max-width: 200px;
    }
}

@media screen and (max-width: 360px) {

    #profilePicture {
        max-height: 100px;
        max-width: 100px;
    }
}

.profilePictureForm {
    background: #ccc;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

#wheel {
    position: relative;
    top: 25px;
    border: none;
    transition: all 2s ease-in;
    width: 50px;
    height: 50px;
}

#wheel:hover {
    transform: rotate(1000deg);
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

#UploadedProfileImage, #UploadedCoverImage, #Chat_Image, #newImage {
    display: none;
}

#fileLabel-profile, #fileLabel-cover, #fileLabel-messageImage {
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 2rem;
    height: auto;
}

#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

#profileInfo {
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#profileInfo h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1em;
}

.userInfo li {
    cursor: pointer;
}

.information {
    background-color: aliceblue;
}

body{
    background-color: lightgray;
}

#editPencil, #addFriend, #removeFriend, #friendRequestSend {
    position: relative;
    top: 25px;
    left: 94%;
    border: none;
    width: 30px;
    cursor: pointer;
}

#friendRequestSend {
    top: 15px;
    left: 89%;
    width: 95px;
    cursor: auto;
}

#friendInfo div {
    display: inline-block;
}

#friendInfo p{
    text-align: center;
    font-weight: bold;
}

#friendInfo a {
    text-decoration: none;
    color: black;
}

.text-danger {
    font-weight: bold;
    font-size: 20px;
}