@model ProfileIndexVM
@{
    ViewData["Title"] = "Index";
}

<div>
    <header id='coverPicture' 
            style='background-image: url(@Url.Content($"https://localhost:44321/api/users/CoverPicture/{Model.me.CoverPicture}")),
                                     url(/images/default.jpg)'>
        <section class='inner'>
            <img src="https://localhost:44321/api/users/ProfilePicture/@(Model.me.ProfilePicture)" alt="@Model.me.ProfilePicture"
                onerror="this.src='/images/default.png'" id="profilePicture" />
            <h2>@Model.me.UserName</h2>
        </section>
    </header>
</div>

<ul>
    @{
        for (int i = 0; i < 50; i++)
        {
            <li>@i</li>
        }
    }
</ul>