
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row generatePokemon">
    <div class="col-md-12">
        <img src="~/images/PokeImages/@(Model.AppearedPokemon.Pokemon.ImgUrl)" class="pokemon" alt="@(Model.AppearedPokemon.Pokemon.Name)" title="It's @(Model.AppearedPokemon.Pokemon.Name)" />
        <button type="submit" class="pokeball" title="Go Pokeball!">
            <img src="~/images/Backgrounds/Pokeball.png" alt="Pokeball" />
        </button>
    </div>
    <!--<div class="col-md-12"> //geeft nog problemen als er code moet uitgevoerd worden
        <ul>
            <li></li>
        </ul>
    </div>-->
</div>