@model ChatSendFirstMessageVM
@{
    ViewData["Title"] = "SendFirstMessage";
}

<h2>SendFirstMessage to @Model.Receiver.UserName</h2>

<div class="row chat">
    <vc:chat-list></vc:chat-list>
    <div class="col-md-8">
        <h2>Message to @Model.Receiver.UserName</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input asp-for="Text" class="form-control">
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <button type="submit" class="noLayout">Verzenden</button>
        </form>
    </div>
</div>