@model Pokebook.core.Models.User
@{
    ViewData["Title"] = "Default";
}

@{
    if (Model != null)
    {
        <li><a asp-area="" asp-controller="Profile" asp-action="Index" data-username="@(Model.UserName)" 
            data-userId="@(Model.Id)">Hey @Model.UserName</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    }
}

