@{
    ViewData["Title"] = "Home Page";
}

<div class="row chat">
    <aside class="col-md-2 sideBar">
        <a asp-controller="Profile" asp-action="index">
            &#x1F464;
            Profile page
        </a>
        <vc:chat-list></vc:chat-list>
    </aside>
    <main class="col-md-10" id="pokeTimeLine">
        <h2>Pokebook timeline here</h2>
        <div id="posts">
            @*Hier komen alle time line posts via Vue.js*@
            <h3>{{ loadingMessage }}</h3>
            @{
                List<string> testPostList = new List<string> { "Post 1", "Post 2", "Post 3" };
                foreach (var post in testPostList)
                {
                    <div>@post</div>
                }
            }
        </div>
    </main>
</div>

@section scripts{
    <script src="~/js/vue.js"></script>
    <script src="~/js/timeLine.js"></script>
}