@{
    ViewData["Title"] = "Home Page";
    Constants constants = new Constants();
}

<div class="row friendRequests">
    <aside id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Friend requests {{numberOfRequests}}</h4>
                </div>
                <div class="modal-body">
                    <h3>{{ loadingMessage }}</h3>
                    <div class="row" v-for="friend in friendRequests">
                        <div class="col-md-4">
                            <img v-bind:src="'@(constants.ApiClientSideAddress)/api/users/ProfilePicture/' + friend.profilePicture"
                                 v-bind:alt="'friend.ProfilePicture'" onerror="this.src='/images/default.png'" id="RequestProfilePicture" />
                        </div>
                        <div class="col-md-4">
                            <a :href="`/Profile/UserProfile/${friend.userName}`">{{friend.userName}}</a>
                            <p>{{ friend.firstName }} {{friend.lastName}}</p>
                        </div>
                        <div class="col-md-4">
                            <button v-on:click="approveFriendRequest(friend)" class="btn btn-primary">Approve</button>
                            <button v-on:click="ignoreFriendRequest(friend)" class="btn btn-primary">Ignore</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </aside>
    <aside class="col-md-3 sideBar">
        <div class="nav-icons">
            <a asp-controller="Profile" asp-action="index">
                <!--<img v-bind:src="'@(constants.ApiClientSideAddress)/api/users/ProfilePicture/' + profilePicture"
         v-bind:alt="profilePicture" onerror="this.src='/images/default.png'" id="profilePicture" />-->
                <img v-bind:src="'@(constants.ApiClientSideAddress)/api/users/ProfilePicture/' + profilePicture"
                     v-bind:alt="profilePicture" id="profilePicture" />
            </a>
            <img src="~/images/friendRequests.png" alt="Friend Requests" title="Friend Requests"
                 id="friendRequests" data-toggle="modal" data-target="#myModal" />
        </div>
        <vc:chat-list></vc:chat-list>
    </aside>
    <main class="col-md-9" id="pokeTimeLine">
        <partial name="Partial/UserListPartial"/>
        <h2>Pokebook timeline will be displayed here in version 2.0</h2>
        <div id="posts">
            @*Hier komen alle time line posts via Vue.js*@
            <h3>{{ loadingMessage }}</h3>
            @{
                List<string> testPostList = new List<string> { "Post 1", "Post 2", "Post 3" };
                foreach (var post in testPostList)
                {
                    <div>@post</div>
                }
            }
        </div>
    </main>
</div>

@section scripts{
    <script src="~/js/vue.js"></script>
    <script src="~/js/timeLine.js"></script>
    <script src="~/js/vueHomePage.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chatNotification.js"></script>
}